name: Check Gem Revision

on:
  workflow_call:
    inputs:
      gem_name:
        description: 'Name of the gem to check for changes'
        required: true
        type: string
      main_branch:
        description: 'The name of the main branch'
        default: 'main'
        required: false
        type: string

jobs:
  check_gem_revision:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v3

      - name: Fetch main branch
        run: git fetch --depth=1 origin ${{ inputs.main_branch }}

      - name: Install Ruby
        uses: actions/setup-ruby@v1
        with:
          ruby-version: '3.0'

      - name: Check gem revision with CLI
        run: |
          bin/flow check_gem_revision ${{ inputs.gem_name }} ${{ inputs.main_branch }}

      - name: Update PR description with CLI
        if: env.COMPARE_URL != ''
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GITHUB_REPOSITORY: ${{ github.repository }}
        run: |
          bin/flow update_pr_description ${{ inputs.gem_name }} ${{ env.COMPARE_URL }} ${{ github.event.pull_request.number }}
