name: Check Gem Revision

on:
  workflow_call:
    inputs:
      gem_name:
        description: 'Name of the gem to check for changes'
        required: true
        type: string
      main_branch:
        description: 'The name of the main branch'
        default: 'main'
        required: false
        type: string

jobs:
  check_gem_revision:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v3

      - name: Fetch main branch
        run: git fetch --depth=1 origin ${{ inputs.main_branch }}

      - name: Install Ruby
        uses: sofatutor/setup-ruby@master
        with:
          ruby-version: '3.1'

      - name: Install flow gem from git
        run: gem install specific_install && gem specific_install -l https://github.com/sofatutor/flow.git -b use-ruby-and-add-cli

      - name: Check gem revision with CLI and update PR description
        run: |
          echo "https://sofatutor-gems:${{ secrets.SOFATUTOR_GITHUB_TOKEN }}@github.com" >> /tmp/gitcredfile
          git config --global credential.helper "store --file=/tmp/gitcredfile"
          diff=$(flow check_gem_revision -m ${{ inputs.main_branch }} ${{ inputs.gem_name }} --verbose)
          compare_url=$(flow check_gem_revision -m ${{ inputs.main_branch }} ${{ inputs.gem_name }})
          compare_content="\`\`\`diff\n$diff\n\`\`\`\n\n$compare_url"
          flow update_pr_description -c "$compare_content" -p ${{ github.event.pull_request.number }} ${{ inputs.gem_name }}
