name: Check Gem Revision

on:
  workflow_call:
    inputs:
      gem_name:
        description: 'Name of the gem to check for changes'
        required: true
        type: string
      main_branch:
        description: 'The name of the main branch'
        default: 'main'
        required: false
        type: string

jobs:
  check_gem_revision:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v3

      - name: Fetch main branch
        run: git fetch --depth=1 origin ${{ inputs.main_branch }}

      - name: Install Ruby
        uses: sofatutor/setup-ruby@master
        with:
          ruby-version: '3.1'

      - name: Check gem revision with CLI and update PR description
        run: |
          diff=$(bin/flow check_gem_revision ${{ inputs.gem_name }} ${{ inputs.main_branch }} --verbose)
          bin/flow update_pr_description ${{ inputs.gem_name }} "\`\`\`diff\n$diff\n\`\`\`" ${{ github.event.pull_request.number }}
          compare_url=$(bin/flow check_gem_revision ${{ inputs.gem_name }} ${{ inputs.main_branch }})
          bin/flow update_pr_description ${{ inputs.gem_name }} $compare_url ${{ github.event.pull_request.number }}
